div.app {
  background-color: #f0f0f0;
  min-height: 100%;
  padding: 20px 12%;
}

div.editor {
  background-color: #fff;
  padding: 50px;
  padding-top: 20px;
  border-radius: 10px;
}

div.toolbar {
  display: flex;
  padding: 10px;

  margin-bottom: 20px;
  border-bottom: solid 1px #e3e3e3
  
}


